<h4>contacto works!</h4>

<form #formularioContact="ngForm">
    <div class="group-input">
        <label>Correo:</label>
        <input name="email" type="email" required #email="ngModel" required [(ngModel)]="contactPerson.email"/>
        <span [hidden]="email.valid || email.pristine">Campo requerido</span>
    </div>
    <div class="group-input">
        <label>Number:</label>
        <input name="number" type="number" required #number="ngModel" [(ngModel)]="contactPerson.number"/>
        <span [hidden]="number.valid || number.pristine">Campo requerido</span>
    </div>

    <button [disabled]="formularioContact.invalid" type="submit" >Enviar</button>
</form>
