
.group-input{
    display: flex;
    flex-direction: column;
    label{
        text-transform: uppercase;
        font-weight: bold;
        color: #464646;
    }
    input{
        border: none;
        font-size: 1.5em;
        border-bottom: 1px solid rgb(22,22,22);
        transition: all 0.5s linear;
        &:focus-visible{
            outline: none;
        }
        &:focus{
            border-bottom: 2px solid #333;
            transition: all 0.2s linear;
        }
    }
}
button{
    margin: 10px 0px;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-color: 0.5em 1em;
    &:disabled{
        background-color: antiquewhite;
    }
}