<p>aguacate works!</p>


<p class="rojo">Color rojo</p>
<p [class.verde]="colorVerde">Color verde</p>
<p [class]="{azul:true , bgRed:false}">Color azul</p>
<p [class]="classAmarillo">Color amarillo</p>
<p>Color negro</p>
<p>Color morado</p>




<button (click)="bandera = !bandera">Show / Hidden</button>

<div *ngIf="bandera"> 
    <h3>Esto se ve</h3>
</div>

@if (bandera) {
    <h3>Esto se ve con lo nuevo</h3>
}@else {
    <h3>Esto es lo otro</h3>
}

@switch (temporal) {
    @case (5) {
        <p>cinco</p>
    }
    @case (8) {
        <p>ocho</p>
    }
}

<ul>
    <li *ngFor="let arr of arreglo">{{arr}}</li>
</ul>
<ul>
    @for (item of arreglo; track $index) {
        <li>{{item}} - {{ $index }}</li>
    }
</ul>