.rojo {
    color: red;
}
.verde {
    color: green;
}
.azul {
    color: blue;
}
.amarillo {
    color: yellow;
}
.negro {
    color: black;
}
.morado {
    color: purple;
}
.bgRed {
    background: red;
}