<h1>Hola mundo</h1>

<ul style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; list-style: none; text-align: center; display: flex; flex-direction: column; gap: 10px; font-size: 20px; width: 20%; border: 1px solid; padding: 10px; margin-left: 2%; border-radius: 0.5em;">
    <li style="background-color: #ededed;"> <a style="color: black; text-decoration: none;" routerLink="home"> Home </a> </li>
    <li style="background-color: #ededed;"> <a style="color: black;  text-decoration: none;" routerLink="administrador/producto/"> Product </a> </li>
    <li style="background-color: #ededed;"> <a style="color: black; text-decoration: none;" routerLink="administrador/usuario/"> User </a> </li>
</ul>

<router-outlet></router-outlet>

<p>Esto es el footer</p>