<p>otro-hijo works! kjsjfkajb</p>

<form #formularioPersona="ngForm" (submit)="enviar()" >
    <div class="group-input">
        <label>Nombre:</label>
        <input name="nombre" type="text" required #nombre="ngModel" required [(ngModel)]="persona.nombre"/>
        <span [hidden]="nombre.valid || nombre.pristine">Campo requerido</span>
    </div>
    <div class="group-input">
        <label>Apellido:</label>
        <input name="apellido" type="text" required #apellido="ngModel" [(ngModel)]="persona.apellido"/>
        <span [hidden]="apellido.valid || apellido.pristine">Campo requerido</span>
    </div>
    <!-- <button type="button" (click)="imprimir(nombre.value, apellido.value)">Enviar</button> -->
    <button [disabled]="formularioPersona.invalid" type="submit" >Enviar</button>
</form>

{{ persona | json }}
<br>
<!-- <p>Nombreeee: {{ persona.nombre }}</p>
<p>Pristine: {{nombre.pristine}}</p>
<p>Dirty: {{nombre.dirty}}</p>
<p>Valid: {{nombre.valid}}</p>
<p>InValid: {{nombre.invalid}}</p>
<p>touch: {{nombre.touched}}</p>
<p>untouch: {{nombre.untouched}}</p> -->

<p>valid: {{formularioPersona.valid}}</p>
<p>inValid: {{formularioPersona.invalid}}</p>

<br><br><br><br>

<app-contacto></app-contacto>
