<p>formulario works!</p>

<div class="card w50 m0">
    <form [formGroup]="formulario" (submit)="enviar()">
        <div class="formControl">
            <input formControlName="nombre" type="text" name="nombre" id="nombre" placeholder=" "/>
            <label for="nombre">Nombre</label>
            <span class="error" [hidden]="nombre.valid || nombre.pristine">Campo requerido</span>
        </div>
        <div class="formControl">
            <input formControlName="correo" type="email" name="correo" id="correo" placeholder=" "/>
            <label for="correo">Correo</label>
            @if(correo.errors?.["required"]){
                <span class="error" [hidden]="correo.valid || correo.pristine">Campo requerido</span>
            }
            @if(correo.errors?.["email"]){
                <span class="error" [hidden]="correo.valid || correo.pristine">No es un correo valido</span>
            }
        </div>
        <div formGroupName="nuevo">
            <div class="formControl">
                <input formControlName="edad" type="text" name="edad" id="edad" placeholder=" "/>
                <label for="edad">Edad</label>
                <span class="error" [hidden]="formulario.get('nuevo')?.get('edad')?.valid || formulario.get('nuevo')?.get('edad')?.pristine">Campo requerido</span>
            </div>
        </div>
        <button type="submit" [disabled]="formulario.invalid">Enviar</button>
    </form>
</div>
<!-- <p>Error: {{correo.errors |json}}</p> -->

<!-- 
<p>Value: {{ nombre.value }}</p>
<p>Prisine: {{ nombre.pristine }}</p>
<p>Dirty: {{ nombre.dirty }}</p>
<p>Valid: {{ nombre.valid }}</p>
<p>Invalid: {{ nombre.invalid }}</p> -->

{{ formulario.value |json }}